.btn-primary {
    background-color: #404040;
    border-bottom-color: #404040;
    border-left-color: #404040;
    border-right-color: #404040;
    border-top-color: #404040;
}
.btn-primary:hover {
    background-color: #89bfd2;
    border-bottom-color: #89bfd2;
    border-left-color: #89bfd2;
    border-right-color: #89bfd2;
    border-top-color: #89bfd2;
}